[submodule "qwik"]
	path = qwik
	url = git@github.com:kalebpace/qwik
	branch = kpace/fastly-adapter
[submodule "qwik-city-e2e"]
	path = qwik-city-e2e
	url = git@github.com:kalebpace/qwik-city-e2e.git
